In [ ]:
# 1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 
# 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.

# 2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. 
# "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 
# 평균적으로 더 높은지 확인하세요.

# 3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 
# 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.

# 4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 
# 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 
# 자동차의 데이터를 출력하세요.

# 5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 
# 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 
# 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 
# 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.

# 6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 
# 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. 
# class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.

# 7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. 
# hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.

# 8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 
# 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg/mpg.txt')

display(df.head())
print(df.shape)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

(234, 11)

In [4]:
# 1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 
# 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.

# 배기량 4 이하인 자동차 행추출
# df['displ'] <= 4 # Boolean mask
배기량4이하인자동차_df = df.loc[df['displ'] <= 4]
# 배기량4이하인자동차_df

배기량5이상인자동차_df = df.loc[df['displ'] >= 5]
# 배기량5이상인자동차_df

under_4 = 배기량4이하인자동차_df['hwy'].mean()
high_5 = 배기량5이상인자동차_df['hwy'].mean() 
print('under_4 : {}'.format(under_4))
print('high_5 : {}'.format(high_5))

under_4 : 25.96319018404908
high_5 : 18.07894736842105

In [16]:
# 2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. 
# "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 
# 평균적으로 더 높은지 확인하세요.

audi_mask = df['manufacturer'].str.contains('audi')
audi_cty_mean = df.loc[audi_mask]['cty'].mean()
print(audi_cty_mean)                       
# 17.61111111111111

toyota_mask = df['manufacturer'].str.contains('toyota')
toyota_cty_mean = df.loc[toyota_mask]['cty'].mean()
print(toyota_cty_mean)   
# 18.529411764705884

# toyota의 cty가 더 높다.

17.61111111111111
18.529411764705884

In [21]:
# 3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 
# 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.

cfh_mask = df['manufacturer'].str.contains('chevrolet' or 'ford' or 'honda')
cfh_hwy_mean = df.loc[cfh_mask]['hwy'].mean()
print(cfh_hwy_mean) 

# ????

21.894736842105264

In [75]:
# 4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 
# 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 
# 자동차의 데이터를 출력하세요.

audi_mask = df['manufacturer'].str.contains('audi')
audi_df = df.loc[audi_mask]
display(audi_df.sort_values(by="hwy", ascending=False, inplace=False)[0:5])
print("max ", audi_df['hwy'].max())

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,평균연비
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,26.0
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,26.0
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,24.0
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0

max  31

In [76]:
# 5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 
# 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 
# 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 
# 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.

# ..?
df['평균연비'] = round((df['cty'] + df['hwy'])/2)
display(df.loc[df['class'].str.contains('suv')].sort_values(by='평균연비', ascending=False, inplace=False)[0:5])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,평균연비
161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv,24.0
163,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,23.0
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,22.0
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv,22.0
160,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,21.0

In [90]:
# 6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 
# 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. 
# class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.

display(df['cty'].groupby(df['class']).mean().sort_values(ascending=False))

class
subcompact    20.371429
compact       20.127660
midsize       18.756098
minivan       15.818182
2seater       15.400000
suv           13.500000
pickup        13.000000
Name: cty, dtype: float64

In [92]:
# 7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. 
# hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.

display(df['hwy'].groupby(df['manufacturer']).mean().sort_values(ascending=False)[0:3])

manufacturer
honda         32.555556
volkswagen    29.222222
hyundai       26.857143
Name: hwy, dtype: float64

In [82]:
# 8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 
# 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.

df_compact = df.loc[df['class'] == 'compact']
# display(df_compact)
display(df_compact.groupby(['manufacturer']).size().sort_values(ascending=False))

manufacturer
audi          15
volkswagen    14
toyota        12
subaru         4
nissan         2
dtype: int64

In [78]:
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,평균연비
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,24.0
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,26.0
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,26.0
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0